<!-- views/signup.handlebars -->

<form action='/api/users/signup' method='post'>
  <label for='signup-username'>Username</label>
  <input type='text' id='signup-username' name='username' required />

  <label for='signup-password'>Password</label>
  <input type='password' id='signup-password' name='password' required minlength='6' maxlength='20' />

  <input type='submit' value='Sign Up' />
</form>