body {
  font-family: 'Arial', sans-serif;
  background-color: lightgoldenrodyellow;
}

nav,
h1 {
  background-color: lightslategray;
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
}

nav a {
  color: white;
  font-weight: bold;
  margin-right: 15px;
  text-decoration: none;
  font-size: 20px;
}

h1 {
  color: white;
  font-weight: bold;
  margin: 0;
  text-align: center;
  font-size: 48px;
  padding-left: 15px;
}

#logout-btn {
  font-size: 30px;
  padding: 10px 20px;
}

#logout-btn:hover {
  cursor: pointer;
}

main {
  padding: 20px 0;
}

.post-container {
  padding: 20px;
  margin-bottom: 20px;
  border: 5px solid black;
}

.post-title {
  padding: 20px 10px;
  margin-bottom: 10px;
  color: black;
}

.post-title h1 {
  margin: 0;
  color: black;
}

.post-box {
  border: 5px solid black;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.post-box h2 {
  color: #333;
  font-size: 30px;
  background-color: lightgray;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.post-box p {
  margin-bottom: 5px;
  font-style: italic;
  padding-top: 60px;
  font-size: 20px;
}

.post-box a {
  text-decoration: none;
  color: #007BFF;
}

.post-box a:hover {
  text-decoration: underline;
}

.comments-section {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}

.comments-section h2 {
  color: #333;
  font-size: 16px;
}

.comments-section ul {
  list-style: none;
  padding: 0;
}

.comments-section li {
  margin-bottom: 8px;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input {
  margin-bottom: 16px;
  padding: 8px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}   

#create-post-form {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border: 30px solid black;
}

#post-title {
  border-bottom: 1px solid #ddd; 
  margin-bottom: 15px;
  font-size: 20px ;
  font-weight: bold;
}


#post-title,
#post-content {
  width: 100%; 
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}